<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.gda.wsb.stayactive" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StayActive" >
        <activity
            android:name="Bests.AbdomenB"
            android:exported="false"
            android:label="@string/title_activity_best"
            android:theme="@style/Theme.StayActive.NoActionBar" />
        <activity
            android:name="Plans.PlansAdv"
            android:exported="false"
            android:label="@string/title_activity_plans_adv"
            android:theme="@style/Theme.StayActive.NoActionBar" />
        <activity
            android:name="Plans.PlansInter"
            android:exported="false"
            android:label="@string/title_activity_plans_inter"
            android:theme="@style/Theme.StayActive.NoActionBar" />
        <activity
            android:name="Plans.PlansBeginer"
            android:exported="false"
            android:label="@string/title_activity_plans_beginer"
            android:theme="@style/Theme.StayActive.NoActionBar" />
        <activity
            android:name="Exc.Legs"
            android:exported="false"
            android:label="@string/legs_name" />
        <activity
            android:name="Exc.Abdomen"
            android:exported="false"
            android:label="@string/abdomen_name" />
        <activity
            android:name="Exc.Triceps"
            android:exported="false"
            android:label="@string/triceps_name" />
        <activity
            android:name="Exc.Biceps"
            android:exported="false"
            android:label="@string/biceps_name" />
        <activity
            android:name="Exc.Arms"
            android:exported="false"
            android:label="@string/arms_name" />
        <activity
            android:name="Exc.Back"
            android:exported="false"
            android:label="@string/back_name" />
        <activity
            android:name="Exc.Chest"
            android:exported="false"
            android:label="@string/chest_name" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>